<section id="sec1">
    <div id="image">
        <img src="https://images.pexels.com/photos/3760529/pexels-photo-3760529.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="not-found">
    </div>

</section>
<section id="sec2">
    <hr>
    <br>
 <h1> Take a look at our Featured projects</h1>
 <br>
 <hr>
<div id="projects">
 <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img id="im1" class="card-img-top" src="https://pixabay.com/get/g53d9a139010ee3fc9f6326e06f874788d900c0eb413c10153c3c98e1561b29143a43e5e3f77f3a059187aa66ceb2ca61_640.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">First project</h5>
          <p class="card-text">Working on new innovative architectures for our clients</p>
          <a href="#" class="btn btn-primary">More details</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <img id="im1" class="card-img-top" src="https://pixabay.com/get/g50f84a25f04ff910df2233797906b33f95a9150c6e175a997dec1e89ca57e9bf44c4341aa7549580bb3b31936ff29d1b_640.jpg">
        <div class="card-body">
          <h5 class="card-title">Another project</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">More details</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Latest Project</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">More details</a>
          </div>
        </div>
      </div>
  </div>
</div>
    

</section>